
    <section class="probootstrap-section-bg overlay" style="background-image: url(assets/img/hero_bg_4.jpg);"  data-stellar-background-ratio="0.5"  data-section="menu">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center probootstrap-animate">
              <div class="probootstrap-heading">
                <h2 class="primary-heading">Discover</h2>
                <h3 class="secondary-heading">Our Plats</h3>
              </div>
            </div>
          </div>
        </div>
      </section>
  
      <section class="probootstrap-section probootstrap-bg-white">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <ul class="menus">
                <li>
                  <figure class="image"><img src="assets/img/img_square_1.jpg" alt="Free Bootstrap Template by uicookies.com"></figure>
                  <div class="text">
                    <span class="price">price {{myPlats.price}}</span>
                    <h3>Name {{myPlats.platName}}</h3>
                    <p>Description {{myPlats.desc}}</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>