<section class="flexslider" data-section="welcome">
    <ul class="slides">
      <li style="background-image: url(assets/img/hero_bg_1.jpg)" class="overlay" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="probootstrap-slider-text text-center probootstrap-animate probootstrap-heading">
                <h1 class="primary-heading">Welcome</h1>
                <!-- <h3 class="secondary-heading">Sign up</h3> -->
                <h3 class="secondary-heading">{{title}} ADMIN</h3>
                
              </div>
            </div>
          </div>
        </div>
      </li>
   
    </ul>
  </section>

<section class="probootstrap-section probootstrap-bg-white">
    <div class="container">
      <div class="row">
        <div class="col-md-12 probootstrap-animate">
          <form class="probootstrap-form" [formGroup]="addAdminForm">
            
        
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="name">First Name</label>
                  <div class="form-field">
                    <i class="icon icon-user2"></i>
                    <input type="text" id="firstName" class="form-control" placeholder="Your first name" formControlName="firstName" [(ngModel)]="admin.firstName">
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="name">Last Name</label>
                  <div class="form-field">
                    <i class="icon icon-user2"></i>
                    <input type="text" id="name" class="form-control" placeholder="Your last name"  formControlName="lastName" [(ngModel)]="admin.lastName">
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="email">Email</label>
                  <div class="form-field">
                    <i class="icon icon-mail"></i>
                    <input type="email" id="email" class="form-control" placeholder="Your email address"  formControlName="email" [(ngModel)]="admin.email">
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="phone">Phone</label>
                  <div class="form-field">
                    <i class="icon icon-phone"></i>
                    <input type="text" id="phone" class="form-control" placeholder="Your phone"  formControlName="phone" [(ngModel)]="admin.phone">
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="name">Password</label>
                  <div class="form-field">
                    <i class="icon icon-user2"></i>
                    <input type="password" id="pwd" class="form-control" placeholder="Your password"  formControlName="pwd" [(ngModel)]="admin.pwd">
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="name">Confirm Password</label>
                  <div class="form-field">
                    <i class="icon icon-user2"></i>
                    <input type="password" id="cpwd" class="form-control" placeholder=" confirm password"  formControlName="cpwd" [(ngModel)]="admin.cpwd">
                  </div>
                </div>
              </div>
            </div>
          
            <div class="row">
              <div class="col-md-4 col-md-offset-4">
                <button class="btn btn-lg btn-primary btn-block" (click)="addAdmin(addAdminForm.value)" >{{title}} ADMIN </button>
              </div>
            </div>
            
          </form>

          <div>
            <img [src]="source" alt="desc">
          </div>
        </div>
      </div>
    </div>
  </section>
